/* body{
    overflow: auto;
} */
header{
    width:100%;
    height:70px;
    border-bottom:1px solid transparent;
    position:fixed;
    background:#fff;
    box-sizing: border-box;
}
.head-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrap img{
    height:60px;
}
.gnb-wrap{
    height:100%;
}
.gnb-list{
    display: flex;
    height:100%;
}
.gnb-list > li{
    position:relative;
    height:100%;
}
.main-menu{
    display: flex;
    align-items: center;
    color:#222;
    font-weight:bold;
    height:100%;
    padding: 0 20px;
    font-size: 18px;
    transition:300ms;
}
.main-menu.off{
    color:#999;
}
/* .sub-menu-list li{
    display: inline-block;
} */
.sub-menu-list{
    position:absolute;
    top:60px;
    left:50%;
    background:#222;
    border-radius: 26px;
    padding:0px 14px;
    transform:translateX(-50%);
    display: none;
}
/* .sub-menu-list.on{
    display: flex;
} */
.sub-menu{
    color:#fff;
    margin:0 15px;
    display: block;
    padding:14px 1px;
    white-space: nowrap;
}
.sub-menu:hover{
    font-weight: bold;
}
.h-right-wrap{
    display: flex;
    gap:14px;
}
.h-right-wrap > div{
    display: flex;
    align-items: center;
}
.h-right-wrap a{
    padding:6px;
    border-radius:50%;
    display: block;
}
.h-right-wrap a:hover{
    background:#ededed;
}
.h-right-wrap a .bx{
    font-size:24px;
    color:#222;
}
div .burger-btn,
div .kor-site,
div .light-mode,
div .search-close{
    display: none;
}
/*hamburger menu*/
.burger-wrap{
    position:absolute;
    top:0;
    right:-100%;
    width:100%;
    height:100vh;
    background:#fff;
    overflow-y: auto;
    z-index:999;
    display: none;
    transition:500ms;
}
.burger-inner{
    width:420px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    height:100%;
}
.burger-top{
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:40px;
}
.burger-close .bx-x{
    font-size: 30px;
    color:#222;
}
/*hamburger list*/
.bgmenu-list>li{
    margin-bottom:40px;
}
.bgmenu-list>li:last-child{
    margin-bottom:100px;
}
.bg-main{
    color:#222;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.bg-main.on .bxs-up-arrow{
    display: block;
}
.bg-main.on .bxs-down-arrow{
    display: none;
}
.bg-main .bx{
    font-size: 6px;
    margin-left:12px;
}
.bg-main .bxs-up-arrow{
    display: none;
}
.bg-main:before{
    content:'';
    display: block;
    width:48px;
    height:48px;
    background-size: 48px;
    background-repeat: no-repeat;
    margin-right:20px;
}
.bg-lion:before{
    background-image:url(../img/65779d87017800001.png);
}
.bg-news:before{
    background-image:url(../img/657726a1017800001.png);
}
.bg-tech:before{
    background-image:url(../img/6575c56d017800001.png);
}
.bg-promise:before{
    background-image:url(../img/657759fa017800001.png);
}
.bgsub-list{
    margin-left:70px;
    display: none;
}
.bgsub-list li a{
    display: inline-block;
    padding:20px;
    font-size: 20px;
    background:#f3f3f3;
    border-radius: 30px;
    margin-top:10px;
    color:#222;
}
.bgsub-list li:first-child a{
    margin-top:30px;
}
/*hamburger info*/
.burger-bottom{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top:auto;
    padding-bottom:30px;
}
.burger-left{
    display: flex;
    gap:16px;
}
.burger-left a{
    color:#666;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.burger-left a .bx-chevron-up{
    display: none;
}
.burger-right{
    display: flex;
    gap:20px;
}
.burger-right div .dark-mode,
.burger-right div .eng-site{
    display: block;
}
.burger-right div a .bx{
    font-size: 26px;
    color:#222;
}
main pre{
    padding-top:100px;
}


/*search*/
.search-wrap{
    position:relative;
    width:100%;
    height:calc(100vh - 70px);
    background:rgba(255,255,255,0.8);
}
.search-wrap form{
    width:100%;
    background:#fff;
    padding:150px 0;
}
.search-box{
    padding:20px 0 20px 30px;
    background:#333;
    display: flex;
    align-items: center;
    border-radius: 24px;
    gap:10px;
    width:900px;
    box-sizing: border-box;
    margin:0 auto;
}
.search-box:before{
    content:'';
    display: block;
    width:30px;
    height:30px;
    background:url('../img/search-regular-24.png') no-repeat center/cover;
}
.search-box input{
    background: #333;
    border:none;
    color:#e9e9e9;
    font-size: 22px;
    font-weight: bold;
    line-height:26px;
    width:100%;
    padding-right:30px;
}
.search-box input:focus{
    outline:none;
}
.search-box input::placeholder{
    color:#e9e9e9;
    font-weight: bold;
}
.hash-wrap{
    width:600px;
    margin:0 auto;
    padding:40px 0;
    display: flex;
    gap:6px;
    justify-content: center;
}
.hash-search{
    display: block;
    padding:12px 14px;
    border-radius: 20px;
    background:#e9e9e9;
    color:#222;
    font-size: 14px;
}
.hash-search:hover{
    background:#e2e2e2;
}
.search-img{
    position:absolute;
    top:120px;
    right:0;
    width:180px;
    height:200px;
}
.search-img img{
    width:100%;
    height:100%;
}
/*media query*/
@media screen and (max-width:1439px){
    .inner{
        width:950px;
    }
}
@media screen and (max-width:1023px){
    header{
        height:60px;
    }
    .inner{
        width:600px;
    }
    .gnb-list{
        display: none;
    }
    .h-right-wrap .lang-change,
    .h-right-wrap .brightness{
        display: none;
    }
    .h-right-wrap a:hover{
        background:transparent;
    }
    .h-right-wrap .burger-btn{
        display: block;
    }
    .burger-wrap{
        display: block;
    }
}
@media screen and (max-width:768px){
    .burger-inner{
        width:350px;
    }
}